@page "/weather"
@rendermode InteractiveServer


<PageTitle>Weather</PageTitle>

<h1>Weather</h1>
<p>This component demonstrates showing data.</p>

@if (forcastData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forcastData)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (toggleTable)

{
    <a>show or not!</a>
}
<button class="btn btn-primary" @onclick="ToggleTable">Toggle</button>

@code {
    
    IQueryable<WeatherForecast> FilteredItems =>
            forcastData.AsQueryable().Where(x => x.Summary.Contains(searchText, StringComparison.OrdinalIgnoreCase));
    private List<WeatherForecast> forcastData = new();
    private string searchText = string.Empty;
    private WeatherForecast[]? forecasts;
    private bool toggleTable = true;
    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        DateTime startDate = DateTime.Now;
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forcastData = Enumerable.Range(1, 10).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToList();
    }
    protected void ToggleTable()
    {
        toggleTable = !toggleTable;
        
        if (toggleTable)
        {
        }

    }

    private class WeatherForecast
    {
        public DateTime Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
